
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%=link_to 'Главная', home_index_url, class: "nav-item nav-link"%>
      <%=link_to 'Документы', home_documents_url, class: "nav-item nav-link"%>
      <li class="nav-item">
      <a class="nav-link" href="https://mgpet.ru/pages/1/">Сайт МПЭТ</a>
    </li>  
    </div>
  </div>
</nav>