<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Приветствуем вас, <%= @name%>. Добро пожаловать!</h1>
    <p>
      Вы подали заявку на подачу документов в Мирнинский промышленно-экономический техникум на специальность: <%= @spec%>, форма обучения: <%= @form%>. <br>
    </p>
    <p>Вам необходимо отправить на адрес электронной почты техникума mgpet@list.ru единым письмом с темой: «поступление Фамилия И.О.» следующие документы:<br>
    &ndash;копию аттестата о среднем (полном или общем) образовании (или диплома о среднем или начальном профессиональном образовании), включая вкладыш с оценками;<br>
    &ndash;заявление о приёме:</p>
<%if @form == "очная" %>
  <a href = "http://mgpet.ru/uploads/abiturient/очное.docx">Скачать бланк для поступления на очное отделение</a>
<%end%>
<%if @form == "заочная"%>
<a href = "http://mgpet.ru/uploads/abiturient/заочное.docx">Скачать бланк для поступления на заочное отделение</a>
<%end%>
<p>&ndash;копия паспорта (разворот с фотографией и разворот с регистрацией);<br>
&ndash;копия СНИЛС;<br>
&ndash;копия ИНН;<br>
&ndash;медицинская справка (для поступающих на профессию 23.01.08 Слесарь по ремонту строительных машин);<br>
&ndash;для иногородних абитуриентов необходима справка об отсутствии судимости для оформления пропуска в ЗАТО Мирный (удобнее оформить через сайт Госуслуги);<br>
&ndash;характеристика (для абитуриентов очного отделения);<br>
&ndash;копии документов о наличии особого статуса (лицо с ОВЗ, инвалид, сирота, лицо под опекой и др.) <br>
</p>
<p>ПРИЁМНАЯ КОМИССИЯ очного и заочного отделения в 2020-2021 учебном году ведёт приём документов ДИСТАНЦИОННО.</p>
    <p>Спасибо за то, что выбрали нас!</p>
   
  </body>
</html>
