<div class="doc">
  <div class="col-12">
    <h3>Список документов необходимых для поступления:</h3><br>
  </div>
</div>
<div class="list-group">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Копию аттестата о среднем (полном или общем) образовании (или диплома о среднем или начальном профессиональном образовании), включая вкладыш с оценками;</li>
    <li class="list-group-item">Заявление о приёме;</li>
    <li class="list-group-item">Копия паспорта (разворот с фотографией и разворот с регистрацией);</li>
    <li class="list-group-item">Копия СНИЛС;</li>
    <li class="list-group-item">Копия ИНН;</li>
    <li class="list-group-item">Медицинская справка (для поступающих на профессию 23.01.08 Слесарь по ремонту строительных машин);</li>
    <li class="list-group-item">Для иногородних абитуриентов необходима справка об отсутствии судимости для оформления пропуска в ЗАТО Мирный (удобнее оформить через сайт Госуслуги);</li>
    <li class="list-group-item">Характеристика (для абитуриентов очного отделения);</li>
    <li class="list-group-item">Копии документов о наличии особого статуса (лицо с ОВЗ, инвалид, сирота, лицо под опекой и др.);</li>
  </ul>
</div>
<div class="info">
	<div class="col-12">
    <p>	&emsp;Зачисление в техникум на очное отделение состоится 20 августа 2020 года. До 18 августа необходимо принести в учебную часть оригинал аттестата (диплома) и фото (4 шт. 3х4).<br>
	  &emsp;Количество бюджетных мест ограниченно, зачисление проводится по конкурсу аттестатов (средний балл по всем дисциплинам). Не прошедшим по конкурсу на специальность 09.02.01 Компьютерные системы и комплексы (на базе 9 кл.) предоставляется возможность пройти обучение на первом курсе в платной группе (ориентировочная стоимость обучения 38 000 рублей в год, возможна помесячная оплата).<br>
	  &emsp;Зачисление в техникум на заочное отделение состоится 20 октября 2020 года. До этого времени необходимо принести в учебную часть оригинал аттестата (диплома) и фото (4 шт. 3х4). <br>
	  &emsp;В приёмную комиссию техникума можно обратиться по телефонам:<br>
	  &emsp;8-(818-34)5-30-57 учебная часть дневного отделения<br>
    &emsp;8-(818-34)5-56-31 учебная часть заочного отделения<br>
    &emsp;Начало занятий для очной формы обучения 02 сентября. Для проезда через КПП будут оформлены пропуска (для предоставивших справки об отсутствии судимости до 01 августа 2020 г.).</p> <br> 
  </div>
</div>
<div class="row">
<div class="col-12">
<p  class = "lits">Обучение в техникуме проводится в соответствии с лицензией на право ведения образовательной деятельности.</p>
</div>
<div class="col-6">
<p class = "lits"><img src="/lits.jpg" alt="Лицензия" width="300" height="400" align="center"></p>
</div>
<div class="col-6">
<p class = "lits"><img src="/lits2.jpg" alt="Лицензия" width="300" height="400" align="center"></p>
</div>
<div class="col-12">
<p class = "lits"><a href="/lets1.pdf" download>Приложение к лицензии</a></p>
</div>
</div>
<footer class="page-footer font-small lighten-3 pt-4">
  <div class="container text-center text-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Приёмная комиссия</h5>
        <p>Уважаемые абитуриенты!</p>
        <p>Приёмная комиссия очного и заочного отделения в 2020-2021 учебном году ведёт приём документов дистанционно.</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Контакты</h5>
        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-home mr-3"></i>Архангельская область, г. Мирный, ул. Неделина, д. 35</p>
          </li>
          <li>
            <p>E-mail: mgpet@list.ru</p>
          </li>
          <li>
            <p>Учебная часть дневного отделения<br>
            8 (81834) 5-30-57</p>
          </li>Учебная часть заочного отделения<br>
            8 (81834) 5-56-31</p>
          </li>
          <li>
            <p>Директор<br>
            8 (81834) 5-53-05</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Социальные сети</h5>
        <div class="btn-group-vertical">
          <a button type="button" href="https://vk.com/gbpouaompet" role="button" class="btn btn-outline-primary">VK.com</a>
          <a button type="button" href="https://www.instagram.com/accounts/login/?next=/gbpouaompet/" role="button" class="btn btn-outline-secondary">Instagram</a>
          <a button type="button" href="https://www.facebook.com/gbpouaopmpet/" role="button" class="btn btn-outline-info">Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3"> © ГБПОУ АО «МПЭТ» 2020 г. Все права защищены.
  </div>
</footer>

 <script type="text/javascript">
$(document).ready(function(){
$("#top").on("click","a", function (event) {
event.preventDefault();
var id = $(this).attr('href'),
top = $(id).offset().top;
$('body,html').animate({scrollTop: top}, 1500);
});
});
</script>
<script>
function up() {
var top = Math.max(document.body.scrollTop,document.documentElement.scrollTop);
if(top > 0) {
window.scrollBy(0,((top+100)/-10));
t = setTimeout('up()',20);
} else clearTimeout(t);
return false;
}
</script>