
<div class = "main">	
	<div class = "logo"><p>Мирнинский промышленно-экономический техникум</p></div>
	<div class = "logo1"><h1>Поступайте к нам и вы не пожалеете </h1></div>
	<div class="button">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Подать заявку на очную форму</button>	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalzaoch">Подать заявку на заочную форму</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Подать заявку на поступление</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
  				<%= form_with(url: home_send_mail_path, method: "get") do %><br>
  				<%= text_field(:person, :name, placeholder: "ФИО", class: "form-control") %><br>
				<%= email_field(:user, :address, placeholder: "E-mail", class: "form-control") %><br>
				<%= hidden_field(:person, :forma_id, :value => "очная") %>
				<label>Специальность&emsp;</label>  
			 	<%= select(:person, :spec_id, [['Компьютерные системы и комплексы', 'Компьютерные системы и комплексы'], ['Строительство и эксплуатация зданий и сооружений', 'Строительство и эксплуатация зданий и сооружений'], ['Слесарь по ремонту строительных машин', 'Слесарь по ремонту строительных машин']], {}, {:class => 'form-control'})%> <br>
       			<%= submit_tag 'Отправить', class:"btn btn-primary btn-user btn-block", 'data-disable-with' => "Please wait.."  %>	
				</div>
      			<% end %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModalzaoch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Подать заявку на поступление</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
  				<%= form_with(url: home_send_mail_path, method: "get") do %><br>
  				<%= text_field(:person, :name, placeholder: "ФИО", class: "form-control") %><br>
				<%= email_field(:user, :address, placeholder: "E-mail", class: "form-control") %><br>
				<%= hidden_field(:person, :forma_id, :value => "заочная") %>
				<h5 align="center">Специальность</h5>  
			 	<%= select(:person, :spec_id, [['Компьютерные системы и комплексы', 'Компьютерные системы и комплексы'], ['Строительство и эксплуатация зданий и сооружений', 'Строительство и эксплуатация зданий и сооружений'], ['Техническая эксплуатация и обслуживание 
					электрического и электромеханического оборудования', 'Техническая эксплуатация и обслуживание 
					электрического и электромеханического оборудования'], ['Экономика и бухгалтерский учет',
					'Экономика и бухгалтерский учет'], ['Право и организация социального обеспечения',
					 'Право и организация социального обеспечения']], {}, {:class => 'form-control'})%> <br>
				<%= submit_tag 'Отправить', class:"btn btn-primary btn-user btn-block", 'data-disable-with' => "Please wait.."  %>	
			</div>
      		<% end %>
		</div>
		</div>
	</div>
</div>





	<div class="container">
	<div class row>
	<div class="col-md-12"><br>
	<span class = "spec"><h2>Специальности МПЭТ</h2></span><br>
	<span class = "ochnoe"><p>Очное обучение</p></span><br>
	</div>
	</div>
		<div class="row hidden-md-up">
	  		<div class="col-md-4">
				<div class="card">
    				<div class="view overlay">
      					<img class="card-img-top" src="/ksk2.jpg"
        				alt="Card image cap">
      					<a href="#!">
        				<div class="mask rgba-white-slight"></div>
      					</a>
    				</div>
    				<div class="card-body">
      				<h4 class="card-title">Компьютерные системы и комплексы</h4>    
      				<p class="card-text">Квалификация: техник по компьютерным системам</p>
      				<p class="card-text">Базовое образование: 9 классов/11 классов</p>
      				<p class="card-text">Продолжительность обучения: 3 года 10 мес/ 2 года 10 мес.</p>
					<p class="card-text">Примечание: Очная форма, Бюджет</p> 
					<p class="card-text">Кем может работать выпускник: Техник по компьютерным сетям, Наладчик компьютерных сетей, Оператор ЭВМ, Системный администратор, Специалист по обслуживанию компьютерных сетей</p> 
  					<a href="/fgosksk.pdf" download>ФГОС по специальности Компьютерные системы и комплексы</a>
    				</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
    				<div class="view overlay">
      					<img class="card-img-top" src="/ses1.jpg"
        				alt="Card image cap">
      					<a href="#!">
        				<div class="mask rgba-white-slight"></div>
      					</a>
    				</div>
    							<div class="card-body">
      								<h4 class="card-title">Строительство и эксплуатация зданий и сооружений</h4>
      								<p class="card-text">Квалификация: техник</p>
     								<p class="card-text">Базовое образование: 11 классов</p>
      								<p class="card-text">Продолжительность обучения: 2 года 10 мес.</p>
									<p class="card-text">Примечание: Очная форма, Бюджет</p>
									<p class="card-text">Кем может работать выпускник: Мастер строительного участка, Техник-проектировщик, Техник-конструктор, Менеджер по строительству, Техник-геодезист, Специалист по технике безопасности</p> 
									<a href="/fgossez.pdf" download>ФГОС по специальности Строительство и эксплуатация зданий и сооружений</a>
    							</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
    				<div class="view overlay">
     					<img class="card-img-top" src="/sles1.jpg"
        				alt="Card image cap">
      					<a href="#!">
        					<div class="mask rgba-white-slight"></div>
      						</a>
    				</div>
    								<div class="card-body">
      									<h4 class="card-title">Слесарь по ремонту строительных машин </h4>
      									<p class="card-text">Квалификация: слесарь по ремонту автомобилей, электрогазосварщик</p>
      									<p class="card-text">Базовое образование: 9 классов</p>
      									<p class="card-text">Продолжительность обучения: 2 года 10 мес.</p>
										<p class="card-text">Примечание: Очная форма, Бюджет</p>
										<p class="card-text">Кем может работать выпускник: Слесарь по ремонту автомобилей, Слесарь по ремонту дорожно-строительных машин и тракторов, Электрогазосварщик</p> 
										<a href="/fgossles.pdf" download>ФГОС по специальности Слесарь по ремонту строительных машин</a>			  
    								</div>
    			</div>
			</div>
		</div>
	  </div>
</div>
	  




		<div class="container">
		<div class row>
		<div class="col-md-12"><br>
	
		<span class = "zaochnoe"><p>Заочное обучение</p></span><br>
		</div>
		</div>
			<div class="row hidden-md-up">
	  			<div class="col-md-4">
					<div class="card">
    					<div class="view overlay">
        					<img class="card-img-top" src="/ksk2.jpg"
         					alt="Card image cap">
        					<a href="#!">
          					<div class="mask rgba-white-slight"></div>
        					</a>
      					</div>
      						<div class="card-body">
								<h4 class="card-title">Компьютерные системы и комплексы</h4>    
     							<p class="card-text">Квалификация: техник по компьютерным системам</p>
      							<p class="card-text">Базовое образование: 11 классов</p>
      							<p class="card-text">Продолжительность обучения: 3 года 10 мес</p>
								<p class="card-text">Примечание: Заочная форма, Бюджет</p> 
								<p class="card-text">Кем может работать выпускник: Техник по компьютерным сетям, Наладчик компьютерных сетей, Оператор ЭВМ, Системный администратор, Специалист по обслуживанию компьютерных сетей</p> 
								<a href="/fgosksk.pdf" download>ФГОС по специальности Компьютерные системы и комплексы</a>
      						</div>
    				</div>
				</div>
		  
				<div class="col-md-4">
		  			<div class="card">
      					<div class="view overlay">
        					<img class="card-img-top" src="/ses1.jpg" alt="Card image cap">
        					<a href="#!">
          					<div class="mask rgba-white-slight"></div>
        					</a>
      					</div>
      						<div class="card-body">
      						<h4 class="card-title">Строительство и эксплуатация зданий и сооружений</h4>
      						<p class="card-text">Квалификация: техник</p>
      						<p class="card-text">Базовое образование: 11 классов</p>
      						<p class="card-text">Продолжительность обучения: 3 года 10 мес.</p>
							<p class="card-text">Примечание: Заочная форма, Бюджет</p>
							<p class="card-text">Кем может работать выпускник: Мастер строительного участка, Техник-проектировщик, Техник-конструктор, Менеджер по строительству, Техник-геодезист, Специалист по технике безопасности</p> 
							<a href="/fgossez.pdf" download>ФГОС по специальности Строительство и эксплуатация зданий и сооружений</a>
      						</div>
    				</div>
		  		</div>
  				<div class="col-md-4">
		  			<div class="card">
      					<div class="view overlay">
        					<img class="card-img-top" src="/teo.jpg" alt="Card image cap">
        					<a href="#!">
          					<div class="mask rgba-white-slight"></div>
        					</a>
      						</div>
     							<div class="card-body">
      							<h4 class="card-title">Техническая эксплуатация и обслуживание 
								электрического и электромеханического оборудования</h4>
      							<p class="card-text">Квалификация: техник</p>
      							<p class="card-text">Базовое образование: 11 классов</p>
      							<p class="card-text">Продолжительность обучения: 3 года 10 мес.</p>
								<p class="card-text">Примечание: Заочная форма, Бюджет</p>
								<p class="card-text">Кем может работать выпускник: Аппаратчик-оператор, Слесарь-электрик по ремонту электрооборудования, Специалист технической поддержки, Техник</p> 
								<a href="/fgosteo.pdf" download>ФГОС по специальности Техническая эксплуатация и обслуживание 
			  					электрического и электромеханического оборудования</a> 
			  
      							</div>
    					</div>
		  			</div>
				</div>
			
			
		  


			<div class="row hidden-md-up">
				<div class="col-md-4">
			 	 	<div class="card">
      					<div class="view overlay">
        					<img class="card-img-top" src="/ekonom.jpg" alt="Card image cap">
        					<a href="#!">
          					<div class="mask rgba-white-slight"></div>
        					</a>
      					</div>
      						<div class="card-body">
      						<h4 class="card-title">Экономика и бухгалтерский учет</h4>    
      						<p class="card-text">Квалификация: бухгалтер</p>
      						<p class="card-text">Базовое образование: 11 классов</p>
      						<p class="card-text">Продолжительность обучения: 2 года 10 мес</p>
							<p class="card-text">Примечание: Заочная форма, Платное обучение</p> 
							<p class="card-text">Кем может работать выпускник: Бухгалтер, Кассир, Специалист по налогообложению, Экономист</p> 
							<a href="/fgosekonom.pdf" download>ФГОС по специальности Экономика и бухгалтерский учет</a> 
    						</div>
      				</div>
				</div>
				
				<div class="col-md-4">
					<div class="card">
      					<div class="view overlay">
       	 					<img class="card-img-top" src="/prav.jpg" alt="Card image cap">
        					<a href="#!">
          					<div class="mask rgba-white-slight"></div>
        					</a>
      					</div>
      						<div class="card-body">
      							<h4 class="card-title">Право и организация социального обеспечения</h4>
     							<p class="card-text">Квалификация: юрист</p>
      							<p class="card-text">Базовое образование: 11 классов</p>
      							<p class="card-text">Продолжительность обучения: 2 года 10 мес.</p>
								<p class="card-text">Примечание: Заочная форма, Платное обучение</p>
								<p class="card-text">Кем может работать выпускник: Социальный работник, Юрист</p>  
								<a href="/fgospravo.pdf" download>ФГОС по специальности Право и организация социального обеспечения</a>
    						</div>
  					</div>
				</div>
			</div>
		
	


	<footer class="page-footer font-small lighten-3 pt-4">
  	<div class="container text-center text-left">
    	<div class="row">
      		<div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        		<h5 class="font-weight-bold text-uppercase mb-4">Приёмная комиссия</h5>
        		<p>Уважаемые абитуриенты!</p>
        		<p>Приёмная комиссия очного и заочного отделения в 2020-2021 учебном году ведёт приём документов дистанционно.</p>
      		</div>
      		<hr class="clearfix w-100 d-md-none">
      		<div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        		<h5 class="font-weight-bold text-uppercase mb-4">Контакты</h5>
        		<ul class="list-unstyled">
          			<li>
            			<p><i class="fas fa-home mr-3"></i>Архангельская область, г. Мирный, ул. Неделина, д. 35</p>
          			</li>
          			<li>
          				<p>E-mail: mgpet@list.ru</p>
          			</li>
          			<li>
            			<p>Учебная часть дневного отделения</p>
						<p>8 (81834) 5-30-57</p>
          			</li>
          				<p>Учебная часть заочного отделения</p>
						<p>8 (81834) 5-56-31</p>
          			</li>
					<li>
            			<p>Директор</p>
						<p>8 (81834) 5-53-05</p>
          			</li>
        		</ul>
      		</div>
      		<hr class="clearfix w-100 d-md-none">
      		<div class="col-md-2 col-lg-2 text-center mx-auto my-4">
       			<h5 class="font-weight-bold text-uppercase mb-4">Социальные сети</h5>
				<div class="btn-group-vertical">
					<a button type="button" href="https://vk.com/gbpouaompet" role="button" class="btn btn-outline-primary">VK.com</a>
					<a button type="button" href="https://www.instagram.com/accounts/login/?next=/gbpouaompet/" role="button" class="btn btn-outline-secondary">Instagram</a>
					<a button type="button" href="https://www.facebook.com/gbpouaopmpet/" role="button" class="btn btn-outline-info">Facebook</a>
					
				</div>
      		</div>
    	</div>
  	</div>
  	<div class="footer-copyright text-center py-3"> © ГБПОУ АО «МПЭТ» 2020 г. Все права защищены.
  	</div>
</footer>
</div>
	

<script type="text/javascript">
$(document).ready(function(){
$("#top").on("click","a", function (event) {
event.preventDefault();
var id = $(this).attr('href'),
top = $(id).offset().top;
$('body,html').animate({scrollTop: top}, 1500);
});
});
</script>
<script>
function up() {
var top = Math.max(document.body.scrollTop,document.documentElement.scrollTop);
if(top > 0) {
window.scrollBy(0,((top+100)/-10));
t = setTimeout('up()',20);
} else clearTimeout(t);
return false;
}

