@import "~bootstrap/scss/bootstrap";


.main
{
width: 100%;
height: 50em;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/tech.jpg") no-repeat;
background-size: cover
;
}
.logo{
	color: white;
	position: relative;
	width: 100%;
	height: 1.375em;
	margin-left: auto;
    margin-right: auto;
	top: 260px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.125em;
	line-height: 1.375;
	text-align: center;
}
.logo1{
	position: relative;
width: 100%;
height: 6.9em;
top: 300px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 4em;
line-height: 134.09%;
color: #FFFFFF;

text-align: center;
}
.button
{
position: absolute;
width: 100%;
height: 6.9em;
top: 400px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 4em;
text-align: center;
}
.spec
{

width: 100%;
height: 5.39em;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 2.25em;

text-align: center;
color: #323232;
}
.ochnoe
{
width: 100%;
height: 2.513em;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 1.563em;
text-align: center;
color: #999999;
}
.ksk
{
position: absolute;
width: 100%;
height: 100%;
top: 1277px;

font-family: Montserrat;

}
.card mb-4
{
position: absolute;
left: 0.313em;
width: 100%;

}

.zaochnoe
{

width: 100%;
height: 2.513em;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 1.563em;
text-align: center;
color: #999999;

}
.zaoch{
position: absolute;
width: 100%;
height: 100%;
top: 2300px;

font-family: Montserrat;
}
.list-group
{
	color: black;
	position: relative;
	width: 100%;
	top: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.375;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.doc
{
    color: black;
	position: relative;
	width: 100%;
	top: 100px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1.375;
	text-align: center;	
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.info
{
    color: black;
	position: relative;
	width: 100%;
	top: 50px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1.375;
	text-align: left;	
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.modal-body
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 0.3em;
}
.lits
{
	color: black;
	position: relative;
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1.375;
	text-align: center;
}
.lab
{
	position: absolute;
	width: 100%;
	height: 1.5em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25em;
	line-height: 3.313em;
	text-align: center;
	color: #323232;	
}