.background
{
background-image: url('public/tech.jpg');
position: absolute;
width: 1920px;
height: 900px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(4_b.jpg);
}