<!DOCTYPE html>
<html>
  <head>
    <title>Приёмная кампания МПЭТ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Revalia&display=s.." rel="stylesheet">
  </head>

  <body>
  
  <%= render 'components/navbar' %>
    <%= yield %>
  </body>
</html>
